body {
    background-color: #01049e;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-weight: 800;
}

#box {
    background-color: aliceblue;
    width: 300px;
    border: none;
    border-radius: 15px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 5px 2px 2px rgba(8, 21, 65, 0.25);
    overflow: auto;
    max-height: 80vh;
    justify-content: center;
}

#box::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#search {
    background-color: #13445e;
    color: aliceblue;
    border-color: transparent;
    border-radius: 100px;
    padding: 8px;
    font-weight: 600;
}

#country {
    border: none;
    border-radius: 100px;
    padding: 8px;
    box-shadow: 1px 1px 1px rgba(8, 21, 65, 0.25);
    margin-right: 8px;
}


#info {
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    padding-bottom: 20px;
    word-wrap: break-word;
}

.details {
    font-weight: 550;

}

#flag {
    box-shadow: 1px 1px 1px rgba(8, 21, 65, 0.25);
    align-self: center;
    width: 250px;
    height: auto;
}

#filter {
    background-color: #13445e;
    color: aliceblue;
    border: none;
    border-radius: 100px;
    padding: 8px;
    font-weight: 600;
    margin: 8px;
    margin-bottom: 20px;
}


#region {
    border: none;
    border-radius: 100px;
    padding: 8px;
    font-weight: 550;
    margin: 8px;
    box-shadow: 1px 1px 1px rgba(126, 145, 207, 0.25);
    margin-right: 8px;
    height: 30px;
}

.num {
    font-weight: 300;
}

#filterDisplay {
    background-color: rgb(211, 228, 251);
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    text-align: left;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}

#filterDisplay p {
    display: flex;
    align-items: center;

}

#filterDisplay p b {
    margin-right: 10px;
}

#regionflag {
    width: 30px;
    height: auto;
    margin-left: 10px;
    box-shadow: 1px 1px 1px rgba(126, 145, 207, 0.25);
}


#guess {

    border: none;
    background: none;
    padding: 0;
    margin: 0;
    display: inline;
    margin: 4px 4px;
    position: fixed;
    top: 10px;
    right: 10px;
}

#guess:hover {
    transform: scale(1.2);
}